@layout('layouts/main') 
@set('title', 'Card Transactions') 
@set('bread_title','Accounting') 
@set('heading', 'Card Transactions') 
@section('body')
<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">tnx table</div>
      </div>
    </div>
  </div>
</div>
@endsection
